/.idea/
/outputs/code/repos/mall-client/
/outputs/code/repos/mall-inner-api/
/outputs/code/repos/mall-swarm/
/outputs/code/repos/mall-third/
/outputs/code/repos/mall-agent-employee-service/
/outputs/code/repos/mall-basic-service/
/outputs/code/repos/mall-common/
/outputs/code/repos/mall-notice/
/outputs/code/repos/mall-product/
/outputs/code/repos/mall-promotion/
/outputs/code/repos/mall-toc-service/
/outputs/code/repos/mall-admin/